.rounded {
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}

.mini-stat {
	padding: 15px;
	margin-bottom: 20px;
}

.mini-stat-icon {
	width: 60px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	background: none repeat scroll 0% 0% #eee;
	border-radius: 100%;
	margin-right: 10px;
	color: #fff;
}

.mini-stat-info {
	font-size: 12px;
	flex-direction: column;
}

.stat-count {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 7px;
	color: white;
}
.stat-info {
	color: white;
}
.bg-published {
	background-color: #3b5998 !important;
	border: 1px solid #3b5998;
	color: white;
}

.fg-published {
	color: #3b5998 !important;
}

.bg-for-action {
	background-color: #00a0d1 !important;
	border: 1px solid #00a0d1;
	color: white;
}

.fg-for-action {
	color: #00a0d1 !important;
}

.bg-media {
	background-color: #db4a39 !important;
	border: 1px solid #db4a39;
	color: white;
}

.fg-media {
	color: #db4a39 !important;
}

.bg-bitbucket {
	background-color: #205081 !important;
	border: 1px solid #205081;
	color: white;
}

.fg-icon {
	color: #598dc0 !important;
}
