/* button {
  text-transform: unset !important;
} */

a {
  text-decoration: none;
}

.bg-gradient {
  background: #16222a;
  background: -webkit-linear-gradient(59deg, #16222a, #16222a);
  background: linear-gradient(59deg, #16222a, #16222a);
  color: white;
}
.welcome {
  background-image: url('../public/img/background.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
}
.sermons {
  background-color: #eff7fc;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.youtube {
  width: 1189px;
  height: 644px;
}
